@mixin mainpading{
    padding: 320px 0 250px 0;
    text-align: center;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin imgCol{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin paragrafOne{
    font-size: 16px;
    line-height: 28px;
    color: $colorTextP;
    font-weight: 300;
}
@mixin paragraftTwo{
    font-size: 14px;
    line-height: 24px;
    color: $colorTextP;
    font-weight: 300;
    margin: auto;
}
@mixin btn{
    width: 170px;
    height: 53px;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0px #736357;
    background-color: $colorBTN;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: $colorWhite;
    font-weight: 800;
    font-family: "Raleway";
    &:hover{
        background-color:$colorWhite;
        color:$colorBTN;
        border: 2px solid $colorBTN;
        box-shadow: none;
    }
}
@mixin line{
    &::before {
        content: "";
        width: 70px;
        height: 3px;
        background-color: #f1eee9;
        position: absolute;
        bottom: 0;
        left: 40%;
    }
}
@mixin categorias{
    width: 121px;
    height: 32px;
    font-size: 14px;
    line-height: 21px;
    background-color: rgba(17, 17, 17, 0);
    border: 1px solid $colorTextP;
    color:$colorTextP;
    border-radius: 3px;
    font-weight: 300;
    margin-right: 10px;
    &:hover{
        border-radius: 3px;
        background-color: #998575;
        color: $colorWhite;
    }
}

