@font-face {
    font-family: lemon Tuesday;
    src: url(../fons/Lemon\ Tuesday.otf);
}
@font-face {
    font-family: MyriadPro;
    src: url(../fons/MyriadPro-Light.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
section{
    padding: 70px 0;
}
.title{
    max-width: 350px;
    text-align: center;
    font-size: 60px;
    line-height: 28px;
    color: #32505a;
    font-family: lemon Tuesday;
    margin: 50px auto;
    position: relative;
}
.ten-resson{
    min-width: 55%;
}
.title::before{
    content: url(../image/Слой\ 519\ beefor.png);
    position: absolute;
    left: -16%;
    bottom: 0;
}
.title::after{
    content: url(../image/Слой\ 519\ after.png);
    position: absolute;
    right: -16%;
    bottom:0;
}
/* header */
.header .row .col-md-2, .header .row .col-md-3{
    display: flex;
    align-items: center;
    font-family: MyriadPro;
    margin: 20px 0;
}
.logo{
    width: 70%;
    height: 100%;
    object-fit: cover;
}
.header .phone{
    font-size: 18px;
    color: #010101;
    font-weight: 700;
    font-family: "Open Sans";
    margin-top: 15px;
}
.header .date{
    font-size: 10px;
    color: #010101;
    font-weight: 400;
}
.tel{
    display: flex;
    flex-direction: column;
}
.header .row .col-md-2 a,
.header .row .col-md-3 a{
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
.header .row .col-md-2 a i,
.header .row .col-md-3 a i{
    color: #1fba0a;
    margin-right: 10px;
}
.bth-phone{
    width: 171px;
    height: 38px;
    border-radius: 5px;
    background:none;
    border: 1px solid #1fba0a;
    color: #1fba0a;

}
.bth-phone:hover{
background-color: #1fba0a;
color: white;
}
/*  обратная связь */
.feedback{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.736);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
}
.title-form-feedback{
    margin: 10px auto;
    text-align: center;
    font-family: lemon Tuesday;
}

.form {
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 25px;
    background-color: white;
}
.input{
    width: 100%;
    margin: 10px auto;
}

.validation-yes,
.validation-no {
    width: 90%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    color: #1fba0a;
}

.validation-no {
    background-color: rgb(223, 113, 113);
    color: rgb(194, 71, 44);
}

.info-form {
    width: 90%;
    height: 70px;
    background-color: aqua;
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-top: 5px;
    margin: 5px auto;
    font-size: 18px;
    color: rgb(123, 154, 199);
}

#form {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.input input {
    width: 95%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
}

.input span {
    color: red;
    font-size: 20px;
    margin-left: 5px;
}

.checkbox {
    margin: 10px;
}

.btn {
    width: 45%;
    height: 40px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #1fba0a;
    color: #1fba0a;
}

.btn:hover {
background-color: #1fba0a;
    color: white;
}

.error input {
    border: 3px solid red;
}

.validYes input {
    border: 3px solid #1fba0a;
}

.error-p {
    color: red;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
}

/* slider */
.slider-wok {
    position: relative;
    overflow: hidden;
}

.slider-line {
    display: flex;
    transition: transform 0.3s ease;
}

.slider-block {
    flex: 0 0 auto;
    width: 100%;
}
.title-slider{
    max-width: 55%;
    font-size: 110px;
    line-height: 100px;
    color: #84c604;
    font-family: "Lemon Tuesday";
    margin-top: 100px;
}
.slider-p{
    font-size: 26px;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    margin: 40px 0;
}
.btn-slider{
    width: 246px;
    height: 55px;
    border-radius: 5px;
    background-color: #fd4f10;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fefffe;
    font-weight: 400;
    margin-bottom: 100px;
}
.btn-slider:hover{
    background: none;
    border-radius: 5px;
    color: #fd4f10;
    border: 1px solid #fd4f10;
}
.slider-sale{
    position: relative;
}
.shot{
    width: 141px;
    height: 141px;
    border-radius: 70px;
    background-image: linear-gradient(0deg, #b71f24 0%, #df2024 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    position: absolute;
    left: 50%;
    top: -5%;
}
.btn-prev,
.btn-next {
    width: 50px;
    height: 50px;
    background-color:black;
    border-radius: 100%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
.btn-prev{
    position: absolute;
    top: 50%;
    left: 2%;
}
.btn-next{
    position: absolute;
    top: 50%;
    right: 2%;
        
}
.btn-prev i,
.btn-next i{
    pointer-events: none;

}
.indicators{
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 8%;
    left: 48%;
}
.slider-dot {
    width: 20px;
    height: 20px;
    border:1px solid #cccccc;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
  
}

.active {
    background-color: #28da3a;
}



/* ten-resson */
.cause{
    margin: 40px 0 0 0 ;
}
.cause .col-md-2{
    text-align: center;
    margin: 20px auto;
}
.cause .col-md-2 p{
    font-size: 16px;
    line-height: 28px;
    color: #4d4d4d;
    font-weight: 400;
    margin: 20px auto;
}
/* reviews-item */
.reviews-internet{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.reviews-item{
    width: 30%;
    border: 1px solid rgb(179, 177, 177);
    padding: 20px;
    margin-top: 40px;
}
.user{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.reviews-item p{
    max-width: 80%;
}
.photo-user{
    width: 30%;
    object-fit: cover;
}
.name-user{
    font-size: 15px;
    line-height: 28px;
    color: #5e81a7;
    font-weight: 700;
    margin-top: 10px;
}
.date-reviews{
    font-size: 13px;
    line-height: 28px;
    color: #999999;
    font-weight: 600;
}
.reviews-text{
    max-width: 269px;
    height: 69px;
    font-size: 14px;
    line-height: 18px;
     color: #000000;
    font-weight: 400;
    margin-top: 10px;
}
.reviews-photo{
    margin-bottom: 20px;
}
.likes i{
    font-size: 14px;
    line-height: 18px;
    color: #656363;
  
    margin: 10px;
}
.btn-reviews{
    width: 100%;
    height: 35px;
    background-color: rgb(54, 135, 211);
    color: white;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.btn-reviews i{
    margin-right: 5px;
}
/* reviews */
.reviews{
    width: 100%;
    height: 100%;
    background-color: #0e1d23;
    background-image: url(../image/Прямоугольник\ 7.png);
    background-repeat: no-repeat;
    object-fit: cover;
    color: #ffffff;
}
.reviews form{
    display: inline-flex;
    gap: 10px;
}
.reviews-p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.reviews-p2{
    max-width: 80%;
    opacity: 0.702;
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;

}
.title-reviews{
    font-size: 54px;
    line-height: 30px;
    font-family: "Lemon Tuesday";
    margin: 20px 0 ;
}
.input-reviews{
    
    max-width: 241px;
    height: 38px;
    background: none;
    outline: none;
    border-bottom: 1px solid #cccccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 20px 0 ;
}
.input-reviews:hover{
    background-color: #ffffff28;
    opacity: 0.149;
    color: #ffffff;
    border-bottom: 1px solid #cccccc;
}
.btn-send{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 192px;
    height: 48px;
    border-radius: 5px;
    background-color: #fd4f10;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

/* company */
.company{
    margin-top: 40px;
}
.company-info h3{
    font-size: 24px;
    color: #32505a;
    font-weight: 700;
    margin-bottom:20px ;
}
.company-info p{
    font-size: 14px;
    line-height: 20px;
    color: #4d4d4d;
    font-weight: 400;
}
.map-ingridiens{
    padding-top: 30px;
}
.map-ingridiens img{
    width: 90%;
    object-fit: cover;
}
/* footer */
footer{
    background-color: #1a2d34;
    padding: 70px 0;
}
footer h4{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin-left: 28px;
}

.menu-list,
.sets-list,
.additional-menu,
.rolls-list,
.wok-list,
.pizza-list {
    list-style: none;
}

.menu-list li a {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    margin-left: -18px;
}
.sets-list li a,
.additional-menu li a,
.rolls-list li a,
.wok-list li a,
.pizza-list li a {
    font-size: 12px;
    line-height: 24px;
    color: #6b96a5;
    font-weight: 400;
    text-decoration: none;
}
.additional-menu{
    margin-top: 25px;
}
.footer-company{
    align-items: center;
}
.agreement{
    font-size: 12px;
    color: #6b96a5;
    font-weight: 400;
    margin-left: 10px;
}
.agreement-logo{
    margin-top: 22px;
}
.network{
    display: flex;
    justify-content: center;
}
.network a{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b96a5;
    color: #1a2d34;
    text-decoration: none;
    margin: 0 10px;  
}
.hidden{
    display: none;
}

@media screen and (max-width: 768px){
    footer row{
        flex-wrap: wrap;
    }
        .col-md-2,
        .col-md-3,
        .col-md-1{
            width: 48%;
        }
           .network{
            margin-top: 20px;
           }

        .reviews-item{
            width: 90%;
            margin: auto;
        }
        .reviews form{
            flex-direction: column;
            flex-wrap: wrap;
        }
        .input-reviews{
            width: 100%;
        }
        .reviews-p2{
            width: 50%;
        }
        .shot{
            top: 20%;
            left: 60%;
            width: 27%;
            height: 30%
        }
    .title-slider{
        font-size:70px;
    }
    .title::before, .title::after {
     content: '';
    }

}
@media screen and (max-width: 368px){
    .col-md-2,
        .col-md-3,
        .col-md-1, .col-md-6{
            width: 90%;
            text-align: center;
        }
        .agreement{
            width: 100%;
            margin: auto;
            text-align: center;
        }
        .reviews form {
            flex-direction: column;
        }
        .title-slider {
         font-size: 35px;
        }
        .shot {
            display: none;
         }
}