@import 'variablesAndMixin';
*{
    @include zeroPMB;
}
body{
    background-image: url(../img/photo-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        max-width: 1000px;
        margin: 20px auto;
        background-color: rgb(33, 32, 32);
        color: white;
        .slider{
            position: relative;
            overflow: hidden;       
            .slider-block{
                display: flex;
                transition: transform 0.3s ease;
                .slider-item{
                    flex: 0 0 auto;
                    width: 100%;
                    display: flex;
                    .slider-item-text {
                        width: 60%;
                        padding: 40px;
                        .name-title{
                            margin: 50px;
                            font-size: 35px;
                        }
                        .text-poetry{
                            width: 350px;
                            margin: 50px;
                            font-size: 20px;
                        }
                    }    
                    .slider-item-img {
                        width: 36%;
                        padding: 10px;
                        img {
                            margin-top: 100px;
                            display: flex;
                            justify-content: flex-end; 
                            @include full-size-cover;
                            height: 400px;
                        }
                    }
                }
            }
            .slide-btn{
                .btn-pref, .btn-next{
                    width: 50px;
                    height: 100px;
                    @include flex-center;
                    background-color: black;
                    font-size: 30px;
                    font-weight: bold;
                    position: absolute;
                    top: 43%;
                }
                .btn-pref{
                    left: 0;
                }
                .btn-next{
                    right: 0;
                }
                .btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 30px;
                    span{
                        width: 2px;
                        height: 2px;
                        border: 2px solid white;
                        border-radius: 100%;
                    }
                    .active{
                        width: 10px;
                        height: 10px;
                        border: 1px solid white;
                    }
                }
            }
        }
    }
}